body {
  font-family: verdana, arial, helvetica, sans-serif;
}

h1 {
  /*font-size: 1.8em;*/
  border-bottom: 1px solid #638FBD;
}

h2 {
  font-size: 1.4em;
}

pre {
  padding: 1em;
  border: 1px dashed #729fcf;
  background: #fafafa;
}

a {
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

hr {
  border: 0pt none;
  color: black;
  background-color: black;
  height: 1px;
}

/**************************************************************************
 * Header *
 **************************************************************************/
#header {
  background-color: #729fcf;
  padding: 6px 10px 0px 12px;
}

#header #logo {
  font-family: monospace;
  font-size: 3em;
  text-decoration: none;
}


/**************************************************************************
 * Body *
 **************************************************************************/
#body {
  font-size: 1.4em;
}

div#body {
  text-align: left;
  padding: 15px;
}

h2#whatsnew {
  border: none;
  color: red;
}


/**************************************************************************
 * Column Left */
#content {
  vertical-align: top;
  width: 522px;
}

#content h4 {
  margin-bottom: 0;
}

#content h4 a {
  color: #000;
  text-decoration: none;
}

div#news {
  padding-bottom: 0.1em;
}

/**************************************************************************
 * Column Right */
#columnright {
  vertical-align: top;
  padding-left: 30px;
  width: 261px;
}

#columnright div {
  margin-bottom: 30px;
}

#columnright div.old span, div.old a {
  color: #555;
}
